{% include '../parts/header.njk' %}

    {% for post in collections.posts -%}
        <section class="preview">
            <img src="{{ post.data.preview }}" alt="{{ post.data.title }}">
            <p>
                <span>{{ post.data.description }}</span>
                <a class="show-more" href="{{ post.url }}">show more..</a>
            </p>
        </section>
    {% endfor %}

{% include '../parts/footer.njk' %}