{% include '../parts/header.njk' %}

    {% for post in collections.posts -%}
        <article class="preview">
            <img src="{{ post.data.preview }}" alt="{{ post.data.title }}">
            <section>
                <h1>{{ post.data.title }}</h1>
                <p>{{ post.data.description }}</p>
                <a class="show-more" href="{{ post.url }}">show more..</a>
            </section>
        </article>
    {% endfor %}

{% include '../parts/footer.njk' %}